/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Base Styling */
html {
  font-size: 10px;
}

body {
  margin: 0 auto; 
  max-width: 780px;
}

nav, section, article  {
  border: 1px solid black;
}
/******************************************
/* LAYOUT
/*******************************************/
/* 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.signin {
  margin: 5px;
  flex-basis: 40px;
  flex: 1;
}



ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

ul li {
  margin: 5px;
  font-family: sans-serif;
  font-size: 1.2rem;
}

main {
  display: flex;
}

main > section {
  flex: 1;
  height: 250px;
}

.flex-featured-stories {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.flex-featured-stories > section {
  height: 100px;
  margin: 2px;
  flex-basis: 48%;
} */
header {
  display: flex;
  align-items: center;
  
}

.logo, .signin {
  flex: 1;
}


nav {
  height: 30px;
  flex: 8;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin: 8px;
}

.welcome {
  display: flex;
  justify-content: space-between;
}


.flex {
  display: flex;
}

.main-article section {
  height: 200px;
  flex: 1;
}

.side-article {
  flex-wrap: wrap; 
}

.side-article article {
  height: 80px;
  flex: 1;
  flex-basis: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
