/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

nav, header, section, article, footer {
  border: 1px solid black;
}

/******************************************
/* LAYOUT
/*******************************************/

nav {
  height: 25px;
  width: 100%;
}

header {
  height: 70px;
  width: 100%;
}

 section, footer {
  height: 50px;
  width: 100%;
}

.flex {
  display: flex;
}

.one-third-column {
  flex: 1
}

.two-thirds-column {
  flex: 3
}

/* section.two-column {
  height: 60px;
  width: 100%;
} */


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
